name: Run tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
        python-version: [3.6, 3.7, 3.8]
        exclude:
          - os: macos-latest
            python-version: 3.6
          - os: macos-latest
            python-version: 3.7
          - os: windows-latest
            python-version: 3.6
          - os: windows-latest
            python-version: 3.7

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
        pip install .
        pip install flake8
    - name: Lint with flake8
      run: |
        flake8 src
        flake8 tests
    - name: Test with pytest
      run: |
        pytest

    - name: Storing Test Failure Artifacts
      if: failure()
      uses: actions/upload-artifact@master
      with:
        name: apitests_output
        path: ./tests/apitests_output
